In [1]:
# Load packages
import numpy as np
import pandas as pd
import pickle

In [2]:
# Load results
with open('./results/results_fcubt.pkl', 'rb') as f:
    results_fcubt = pickle.load(f)

In [3]:
# FCUBT
n_clusters_fcubt = np.array([simu['n_clusters'] for idx, simu in enumerate(results_fcubt)])
ARI_fcubt = np.array([simu['ARI'] for idx, simu in enumerate(results_fcubt)])

In [4]:
n_clusters = pd.DataFrame({'\texttt{fCUBT}': n_clusters_fcubt})

In [5]:
n_clusters.apply(pd.value_counts, normalize=True).T

                    5     4      6      9
\texttt{fCUBT}  0.522  0.43  0.046  0.002

In [6]:
ARI = pd.DataFrame({'\\texttt{fCUBT}': ARI_fcubt})

In [7]:
ARI.quantile(q=np.linspace(0, 1, 11)).T

,0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0
\texttt{fCUBT},0.697141,0.760747,0.768335,0.772585,0.776886,0.781236,0.960575,0.97525,0.985005,0.98997,1.0